<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title >Homepage</title>
</head>
<body>

    


    <h1>Order Cupcakes</h1>
    <button id="showAll">Show All</button>

    <div>

    </div><br>
    

    <h3>Add a Cupcake</h3>
    <form>
        <label>Flavor:
            <input type="text" id="flavor">
        </label>
        <label>Size:
            <input type="text" id="size">
        </label>
        <label>Rating:
            <input type="text" id="rating">
        </label>
        <label>Image:
            <input type="text" id="image">
        </label>
        <button id="add">Add</button>
    </form>

   

   
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https:/unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../static/show_cakes.js"></script>
 
</body>
</html>
