<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Currency Converter</title>
  </head>
  <body>
    <h1>Currency Converter</h1>
    <p>{{msg}}</p>
    <form action="/verify_form" , method="POST">
      Convert from:<input type="text" id="convertFrom" name="from" /><br />
      Convert to: <input type="text" id="convertTo" name="into" /><br />
      Amount:<input type="number" id="convertAmount" name="amount" /><br />
      <br />
      <button>Convert</button>
    </form>
  </body>
</html>
