<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Customer Satisfaction Survey</title>
  </head>

  <body>
    <h1>Customer Satisfaction Survey</h1>
    <h3>Instructions:</h3>
    <h4>Please fill out a survey about your experience with us</h4>
    <form action="/start" method="post">
      <input type="submit" value="Start !" />
    </form>
  </body>
</html>
