<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New user form</title>
  </head>
  <body>
    <h3>New user form</h3>
    <h1>Create a new user</h1>
    <form action="/create_user"  method="POST">
      Enter first name:
      <input
        type="text"
        name="first_name"
        placeholder="First name"
      ></input><br>
      Enter last name:
      <input
        type="text"
        name="last_name"
        placeholder="Last name"
      ></input><br>
      Enter photo url:
      <input
        type="text"
        name="photo_url"
        placeholder="Photo_url"
      ></input>

      <button>Add User</button>

    </form>
    <form action="/users"><button>Back</button></form>
  </body>
</html>
