{% extends "base.html"%} {%block title%}Feedback form{%endblock%}{%block content%}



<h1>Give Your Feedback</h1>

<form action="/users/{{username}}/feedback/add", method="POST">
    {{form.hidden_tag()}}

    {% for field in form
        if field.widget.input_type != "hidden"%}
            <p>{{field.label}}
                {{field}}
                

                {%for errors in field.errors%}
                    {{error}}
                {%endfor%}
            </p>
    {%endfor%}
    <button>Submit</button>
</form>
<form action="/users/{{username}}"><button>Back</button></form>


{%endblock%}