{% extends "base.html"%} {%block title%}User Details{%endblock%}{%block content%}

<h1>Welcome {{user.username}}</h1>
<h4>Feedback Posted:</h4>
{%for post in user.feedback%}
<div>
    <div class="card my-4">
        <div class="card-body">
            <h4 class="card-title"><b>{{post.title}}</b></h4>
            <p class="card-text">{{post.content}}</p>
        
           <form action="/feedback/{{post.id}}/delete">
            <button class="btn btn-sm" style="color:#e92b16">Edit</button>
           </form>

           <form action="/feedback/{{post.id}}/delete", method="POST">
            <button class="btn btn-sm" style="color:#e92b16">Delete</button>
           </form>
        </div>
    </div>
</div>
{%endfor%}
<form action="/users/{{user.username}}/feedback/add"><button>Add Feedback</button></form>



{%endblock%}